@model IEnumerable<CinemaBookingSystem.Models.Ticket>

<h1 style="margin-bottom: 32px">Book now</h1>
<div class="container" style="padding: 0 12px 36px 12px; border-bottom: 2px solid; margin-bottom:24px">
    <div class="container" style="display: flex; flex-direction: column">
        <h2>@ViewData["Title"]</h2>
        <span>
            @ViewData["Genre"] | @ViewData["RunningTime"] | @ViewData["Language"]
        </span>
        <span>
            @ViewData["DateTime"]
        </span>
    </div>
</div>

<h3 style="text-align: center">Choose yours seats:</h3>


    <div style="display: flex; justify-content: space-around; border-bottom: 2px solid; padding-bottom: 24px">
        <div style="display:flex; flex-wrap: wrap; min-width: 320px; max-width: 320px">

            @foreach (var item in Model)
            {
                if (item.IsAvailable == true)
                {
                    <button class="btn btn-primary" id="@item.SeatId" onclick="checkSeat(@item.SeatId)" style="width: 32px; height: 32px; margin: 4px; display:flex; align-items: center; justify-content: center;">
                        @Html.DisplayFor(modelItem => item.SeatId)
                    </button>
                }
                else
                {
                    <button class="btn btn-warning" disabled style="width: 32px; height: 32px; margin: 4px; display:flex; align-items: center; justify-content: center;">
                        @Html.DisplayFor(modelItem => item.SeatId)
                    </button>
                }
            }
        </div>
    </div>

    <div class="container" style="display: inline-flex; height: 82px">
        <div class="container">
            <h3>Your seat(s):</h3>
            <p class="seats--js"></p>
        </div>
        <button class="btn btn-primary" id="myBtn" style="width: 150px; height: 48px; align-self: center" disabled>Book now</button>
    </div>



<script type="text/javascript">

    var seats = document.querySelector(".seats--js");
    const myBtn = document.getElementById("myBtn");
    var mySeats = new Array();

    function checkSeat(id) {

        seats.innerHTML = ``;

        if (mySeats.length > 0) {            

            for (let i = 0; i < mySeats.length; ++i) {
                if (mySeats[i].seatId == id) {
                    var element = document.getElementById(id);
                    mySeats[i].checked = false;
                    mySeats.splice(i, 1);
                    element.style.background = "#1b6ec2";
                    console.log("Tablica po usunieciu:");
                    for (let i = 0; i < mySeats.length; ++i) {
                        console.log(mySeats[i]);
                        seats.innerHTML += `<span>${mySeats[i].seatId} </span>`;
                    }
                    if (mySeats.length == 0) {
                        myBtn.disabled = true;
                    }
                    return;
                }
            }            
        }
        
        var seat = new Object();
        seat.seatId = id;
        seat.checked = true;
        mySeats.push(seat);
        myBtn.disabled = false;

        console.log("Tablica po dodaniu:")
        for (let i = 0; i < mySeats.length; ++i) {           
            console.log(mySeats[i]);
            seats.innerHTML += `<span>${mySeats[i].seatId} </span>`;
            if (mySeats[i].checked == true) {
                var element = document.getElementById(id);
                element.style.background = "red";
            }
        }        
    }          
</script>

